.dy-label {
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-bottom: 1px solid #0099ff;
  padding: 0 10px;

  input {
    display: block;
    width: 100%;
    outline: none;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 14px;
  }

  .iconfont {
    width: 36px;
    height: 36px;
    font-size: 30px;
    color: #888;
  }
}
