@import '../../globalCss/px2-rem';
@mixin between {
  display: flex;
  justify-content: space-between;
}

$background: #186fc8;

.person {

  .top-box {
    padding: px-to-rem(18);
    background: $background;
    box-shadow: 0 -2px 2px 2px $background;
  }

  .login-box {
    display: flex;
    justify-content: space-between;
    background: $background;

    .login-box-left {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 16px;

      .title {
        color: #fff;
        font-weight: 400;
      }

      .desc {
        font-size: 12px;
        color: #e0e0e0;
        margin-top: 10px;
      }
    }

    .login-box-right {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: px-to-rem(140);
        height: px-to-rem(140);
        border-radius: 50%;
      }

      .iconfont {
        margin-left: 5px;
        font-size: 16px;
        color: #fff;
        font-weight: 400;
      }
    }
  }
  .user-box {
    flex-direction: row-reverse;
    justify-content: flex-end
  }

  .read-data {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;
    background: $background;

    .read-data-item {
      flex: 2;
      text-align: center;
      padding: 6px 0;

      &:nth-child(3) {
        flex: 1;
      }
      &:last-child {
        flex: 1;
      }
    }

    .col-line {
      position: absolute;
      right: 30%;
      top: 50%;
      transform: translateY(-50%);
      height: 18px;
      width: 1px;
      background: #e0e0e0;

      &:nth-child(2){
        left: 30%;
      }
    }

    .item-row1 {
      text-align: center;
      font-size: 16px;
      color: #fff;

      .little-title {
        font-size: 12px;
        color: #fff;
      }
    }

    .item-row2 {
      margin-top: 4px;
      font-size: 12px;
      color: #fff;
    }
  }

  .menu-wrap {
    margin-top: 20px;
    padding: px-to-rem(18);
    font-size: 14px;
    color: #333;

    .menu-item {
      @include between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #eee;

      .menu-item-left {
        display: flex;
        align-items: center;

        .iconfont {
          font-size: 40px;
        }
        .icon-xiugaigerenxinxi { // 修改个人信息图标
          color: #0099ff;
        }
        .icon-jiazhi1 {
          color: #fa5a75;
        }
        .icon-aihao- {
          color: #f7d871;
        }
        .menu-item-title {
          margin-left: 6px;
        }
      }

      .iconfont {
        color: #e0e0e0;
      }
    }
  }
  .btn-wrap {
    margin-top: 40px;
    padding: px-to-rem(18)
  }

}
